# OS-specific files
.DS_Store
*.swp
*.swo

# Build directories
build/
dist/
*.log

# IDE and Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Environment files
.env

*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/
